.conteudo{
    background: blue;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    margin: 10px;
    float: right;
}

.conteudo1{
    background: red;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    margin: 10px;
    float: left;
}

.conteudo-zero{
    background: red;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.clear{
    clear: both;
}

#principal{
    border: 3px solid red;
    background: green;
}
